services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ecommerce-kelompok1:local
    container_name: ecommerce-app
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      APP_ENV: local
      APP_DEBUG: true
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: ecommerce_db
      DB_USERNAME: admin
      DB_PASSWORD: password123
    depends_on:
      - db
    networks:
      - ecommerce-network

  db:
    image: mysql:8.0
    container_name: ecommerce-db
    restart: always
    environment:
      MYSQL_DATABASE: ecommerce_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: password123
      MYSQL_ROOT_PASSWORD: 
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge

volumes:
  db_data:
